* {
    margin: 0;
    padding: 0;
    border: red solid 1px;
}

body {
    background: linear-gradient(180deg, rgba(63,255,240,1) 0%, rgba(63,255,240,1) 60%, rgba(0,223,255,1) 75%, rgba(0,107,255,1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    height: 400px;
    background-color: rgba(0,0,10,0.7);
    border: 2px solid white;
    display: flex;
}

.leftBox {
    width: 62%;
}

.topContainer {
    height: 15%;
}

.bottomContainer {
    height: 85%;
    display: flex;
}

.containerContent {
    color: yellow;
    height: 100%;
    width: 50%;
    overflow: auto;
}


.rightBox {
    width: 38%;
}


/* ANIMATIONS */



/* 
Light cyan      #3ffff0
Darker cyan     #00dfff
Dark cyan       #006bff
*/